<style>
  .checkin {
    background-color: blue;
    color: white;
  }
</style>
<%= form_for @presence do |form| %>
  <% if @presence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presence.errors.count, "error") %> prohibited this presence from being saved:</h2>

      <ul>
        <% @presence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden="">
    <%= form.label :checkin %>
    <%= form.datetime_select :checkin %>
  </div>


  <div class="actions">
    <%= form.submit :Checkin, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"%>
  </div>
<% end %>