<div class="my-profile">
  <div class="card shadow">

    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">My Profile</h6>
    </div>
    <div class="card-body">
      <div class="chart-area" style="height: 100%;">
        <div class="col-xs-12 col-sm-3 center">
        <center>
          <span class="profile-picture">
            <% if @friend.avatar.attached? %>
                <%= image_tag url_for(@friend.avatar), class: "editable img-responsive"%>
            <% end %>
          </span>
        </center>

          <a href="#" class="btn btn-sm btn-block btn-success">
            <span class="bigger-110 full-name"><%= @friend.firstname %><%= @friend.lastname %></span>
          </a>

          <a href="mailto:#{@friend.email}" class="btn btn-sm btn-block btn-primary">
            <i class="ace-icon fa fa-envelope-o bigger-110 email"></i>
            <span class="bigger-110 email"><%= @friend.email %></span>
          </a>
        </div>

        <h4 class="blue">

        <span class="middle"><%= @friend.firstname %> <%= @friend.lastname %></span>

          <span class="label label-purple arrowed-in-right">
            <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
            <%= @friend.major.name %>
          </span>

        </h4>

        <div class="profile-user-info">
          <!-- <div class="profile-info-row"> -->
            <div class="profile-info-name"> Nis </div>

            <div class="profile-info-value">
              <span><%= @friend.nis %></span>
            </div>
<!--           </div> -->

          <div class="profile-info-row">
            <div class="profile-info-name"> Location </div>

            <div class="profile-info-value">
              <i class="fa fa-map-marker light-orange bigger-110"></i>
              <span><%= @friend.address %></span>
              <span><%= @friend.zipcode %></span>
              <span><%= @friend.city %></span>
              <span><%= @friend.province.name %></span>
            </div>
          </div>

          <div class="profile-info-row">
            <div class="profile-info-name"> Phone </div>

            <div class="profile-info-value">
              <span><%= @friend.phone %></span>
            </div>
          </div>

          <div class="profile-info-row">
            <div class="profile-info-name"> Periode </div>

            <div class="profile-info-value">
              <span><%= @friend.start_date %> until <%= @friend.end_date %> </span>
            </div>
          </div>

          <div class="profile-info-row">
            <div class="profile-info-name"> Emergency Call </div>

            <div class="profile-info-value">
              <span><%= @friend.emergency_number %></span>
            </div>
          </div>
        </div>

        <div class="hr hr-8 dotted"></div>

        <div class="profile-user-info">
          <div class="profile-info-row">
            <div class="profile-info-name"> School </div>

            <div class="profile-info-value">
              <span><%= @friend.school %></span>
            </div>
          </div>

          <div class="profile-info-row">
            <div class="profile-info-name">
              <!-- <i class="middle ace-icon fa fa-facebook-square bigger-150 blue"></i> -->
              <span>Mothers Name</span>
            </div>

            <div class="profile-info-value">
              <!-- <a href="#">Find me on Facebook</a> -->
              <span><%= @friend.mother_name %></span>
            </div>
          </div>

          <div class="profile-info-row">
            <div class="profile-info-name">
              <!-- <i class="middle ace-icon fa fa-twitter-square bigger-150 light-blue"></i> -->
              <span>Fathers Name</span>
            </div>

            <div class="profile-info-value">
              <span><%= @friend.father_name %></span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@friend.latitude},#{@friend.longitude}&markers=#{@friend.latitude},#{@friend.longitude}&zoom=13&size=640x400&key=AIzaSyCQf-Ijz45IisL1t1wZ-Ys2anK0h0jCC18", class: "map" %>
