<link rel="stylesheet" type="text/css" href="../app/assets/stylesheets/index.css">

        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Report</h1>
            <a href="/reports/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Create Report</a>
          </div>

          <!-- Content Row -->

          <p id="notice"><%= notice %></p>
          <table>
            <thead>
              <tr>
                <th>Subject</th>
                <th>Content</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @reports.each do |report| %>
                <tr>
                  <td><%= report.subject %></td>
                  <td><%= truncate(strip_tags(report.content), length: 30) %></td>
                  <td><%= link_to 'Show', report %></td>

                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <!-- Content Row -->


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
           <%= link_to "Logout", destroy_student_session_path, method: :delete, :class => 'btn btn-primary'  %>
        </div>
      </div>
    </div>
  </div>
</body>




